.container {
  width: 1250px;
  transform: translateX(140px);
}

.catalogue-header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  font-weight: bold;
}

.catalogue-thumpnail img {
  z-index: -1;
  padding-top: 20px;
  height: 280px;
  width: 280px;
}

.catalogue-preview {
  position: relative;
  color: #000;
}

.catalogue-status{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: green;
  top: 0;
  left: 5%;
}
.catalogue-status p,
.catalogue-rating p{
  margin: 0;
}
.catalogue-rating ul,li {
  display: flex;
  text-decoration: none;
}
.catalogue-rating {
  width: 90%;
  display: flex;
  justify-content: left;
  gap: 10px;
  height: 25px;
}
.checked {
  color: rgb(255, 217, 0);
}
.fa-star:hover {
  transform: scale(1.3);
  transition: .3s;
}

.catalogue-rating p {
  margin-top: -3px;
}

.catalogue-product__name {
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

.catalogue-prodct__fake-price{
  margin: 0;
  text-align: center;
  text-decoration: line-through;
  color: rgb(189, 187, 187);
  font-size: 17px;
}

.catalogue-product__real-price{
  text-align: center;
  font-size: 19px;
  color: #fff;
  width: 100%;
  padding: 5px;
  outline: none;
  border: none;
  background-color: rgb(22, 127, 197);
  border-radius: 0 0 12px 12px;
  cursor: pointer;
}

.slide-element {
  cursor: pointer;
}
.slide-element:hover {
  transform: translateY(-3.5px);
  transition: var(--smooth);
}

.catalogue-product__real-price:hover{
  background-color: rgb(24, 42, 68);
  transition: var(--smooth);
}

.home-group-banner {
  text-align: center;
  line-height: 50px;
  background-color: rgb(248, 248, 248);
  font-size: 17px;
  font-weight: 500;
}

.collection-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.collection-navbar-title {
  margin: 0;
}

.collection-navbar-button button{
  text-align: center;
  padding: 8px;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.collection-navbar-button-choose {
  background-color: var(--l-blue);
  color: #fff;
}

.collection-sidebar{
  position: relative;
}
.collection-sidebar span {
  position: absolute;
  color: #fff;
  /* top: 200px;
  left: 35px; */
  vertical-align: center;
  font-size: 50px;
  font-weight: bold;
}
.collection-sidebar-pic {
  width: 20rem;
  height: 70%;
}

.collection-container {
  display: flex;
  position: relative;
}

.collection-product-display {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  margin-left: 20px;
  row-gap: 20px;
  cursor: pointer;
}
.collection-product-preview {
  max-width: 230px;
  height: fit-content;
  position: relative;
  padding-top: 25px;
}

.collection-status{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: green;
  top: 0;
  left: 5%;
}
.collection-rating p,
.collection-status p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}

.collection-rating ul,li{
  display: flex;
  text-decoration: none;
}

.collection-rating {
  display: flex;
  justify-content: left;
  gap: 10px;
  height: 25px;
}

.collection-sidebar-pic img {
  height: 40rem;
}
.collection-sidebar-pic span {
  position: absolute;
  color: #fffefe;
  top: 160px;
  left: 50px;
  z-index: 4;
  font-size: 50px;
  font-weight: bold;
  opacity: 0.7;
}

.collection-thumpnail img {
  width: 230px;
  height: 230px;
  padding-bottom: 10px;
}
.collection-drop{
  display: none;
}

.uk-card .catalogue-rating {
  font-size: 12px;
}

